ekaluk.com {
  bind {$ADDRESS}
  proxy / web:8000
  tls ekaluk.p@gmail.com
}

ekaluk.com/static/ {
  root /code/staticfiles/
  tls tls ekaluk.p@gmail.com
}

ekaluk.com/media/ {
  root /code/media/
  tls tls ekaluk.p@gmail.com
}